<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
<!--    <arg name="model" default="$(find mobilebot_description)/urdf/differential_abb_robot.urdf.xacro"/>-->
    <arg name="model" default="$(find mobilebot_description)/urdf/differential_drive.urdf.xacro"/>
    <arg name="robot_namespace" default="/"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>

<!--    Load the URDF into the ROS parameters server-->
    <param name="robot_description" command="$(find xacro)/xacro $(arg model)"/>

    <node name="mobile_bot_spawn" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="
            -z 1.0 -unpause
            -urdf
            -param robot_description
            -model Diff_Drive" />
</launch>